h1{

	text-align:center;
	color:darkblue;
	background:lightskyblue;
 }
 div{
 	text-align:center;
 }
 div{
 	text-align:center;
 }

 body{
 	background-color:lightblue;
    }

 body{
 	background-image:url(Images/mel.jfif);
 }